body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
  }
  
  .weather-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 50px;
  }
  